#screen {
    min-height: 2em;
    height: auto;
    background-color: blueviolet;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 2em;
    word-wrap: break-word;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 12px;
    outline: solid black 1px;
    
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

button {
    padding: 10px;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    text-align: center;
    font-weight: bold;
    flex-grow: 0;
    flex-basis: auto;
}


#zero, #buttonAC, #buttonC, #buttonDot {
    flex-grow: 1;
    flex-basis: auto;
    border-radius: 12px;
}

.operator, #buttonEquals {
    background-color: burlywood;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


footer {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#githubLogo {
    width: 1.5em;
    height: auto;
}

.copyrights {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    
}